* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 56.25%;
}

.tab {
  overflow: hidden;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  margin: 0.5px 5px;
}

.tab button {
  flex: 1; /* makes each button take equal width */
  text-align: center; /* centers the text */
  padding: 14px 0; /* vertical padding only */
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: white;
}

.tab button.active {
  background-color: rgb(182, 182, 182);
  border-bottom: none;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tablinks.paintone {
  background-color: rgb(123, 225, 123);
}

.tablinks.painttwo {
  background-color: rgb(255, 232, 103);
}
.tablinks.paintthree {
  background-color: rgb(255, 202, 202);
}
